LOCAL_DBKEY=localdbdata
EXPO_PUBLIC_DB_BASEURL=xxxxxxxxxxxxxxxxx
LOCAL_SETTINGKEY=xxxxxxxxxxxxxx

ADDONSTORE_URL=https://raw.githubusercontent.com/rogplay/public/refs/heads/main/addonsstore.json
LOCAL_ADDONKEY=localaddondata
JSON_DATAKEY=localjsondatakey
ADDONURL_KEY=addonurldata
APP_CONFIG=https://raw.githubusercontent.com/rogplay/public/refs/heads/main/config.json
APP_LOGO=https://rogplay.live/assets/applogo.png


EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxx
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=xxxxxxxxxxxxxxxxxx
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxx

EXPO_PUBLIC_TMDB_APIKEY=xxxxxxxxxxxxxxxxxxxxxxx
EXPO_PUBLIC_TMDB_BASEURL=https://api.themoviedb.org/3
EXPO_PUBLIC_TMDB_PROXYURL=https://madplay.site/api/tmdb/
EXPO_PUBLIC_TMDB_BASEPOSTER=https://image.tmdb.org/t/p/original
EXPO_PUBLIC_RAZORPAY_KEY_ID=xxxxxxxxxxxxxxxxxxxx

